html * {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #303030;
  color: lightgrey;
}

body {
    margin: 0;
}

a, a:visited, a:link {
    color: lightgrey;
}

a:hover, a:active {
    color: #F96815;
}
