# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# local env files for testing
.env.local
.env.*.local

# OS specific
.DS_Store

# Test artifacts
tmp/
out/
out.*
*.out.*
.bin/

# md
.obsidian
