{{ block "freeform" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@shortcuts | Senior Software Engineer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="assets/style.css" rel="stylesheet">

        <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js"></script>
    </head>
    <body>
        <div id="navbar" hx-target="#navbar" hx-get="/content/navbar" hx-swap="innerHTML" hx-trigger="load">If you see this, it means I've been unable to fetch the content for: navbar</div>

        <div id="content" hx-target="#content" hx-get="content/{{ .Filename }}" hx-swap="innerHTML" hx-trigger="load">If you see this, it means I've been unable to fetch the content for: {{ .Filename }}</div>
    </body>
</html>
{{ end }}
