html {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #191919;
  color: lightgrey;
}

img {
  width: 100%;
}

a,
a:visited,
a:link {
  color: lightgrey;
}

a:hover,
a:active {
  color: #f96815;
}

li {
  line-height: 30px;
}

blockquote {
  margin-left: 20px;
  line-height: 28px;
  padding-left: 20px;
  border-left: 2px solid #f96815;
}

#header {
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #171717;
  border-bottom: 1px solid #f96815;

  nav {
    background-color: #171717;
  }
}

#header > nav,
#content {
  max-width: 50em;
  margin: 0 auto;
}

@media screen and (max-width: 580px) {
  #header,
  #content {
    max-width: 100%;
    margin: 0 10px 0 10px;
  }
}
