{{ block "layout" . }}
<!doctype html>
<html lang="en">
  <head>
    <title>@shortcuts | Senior Software Engineer</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png" />
    <link rel="manifest" href="/assets/img/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet" />

    <link href="/assets/css/style.css" rel="stylesheet" />

    <script src="/assets/scripts/htmx.min.js"></script>
    <script src="/assets/scripts/htmx-ext-preload.js"></script>
  </head>
  <body hx-ext="preload">
    <div id="header">
      <nav>
        <a href="/" preload>home</a> | <a href="/resume" preload>resume</a> | <a href="/links" preload>links</a>
      </nav>
    </div>

    <div hx-boost="true" id="content">{{ .Content }}</div>
  </body>
</html>
{{ end }}
